# These variables correspond with the STIG IDs defined in the STIG and allows you to enable/disable specific rules.
# PLEASE NOTE: These work in coordination with the cat1, cat2, cat3 group variables. You must enable an entire group
# in order for the variables below to take effect.
# CAT 1 rules

# These variables correspond with the STIG IDs defined in the STIG and allows you to enable/disable specific rules.
# PLEASE NOTE: These work in coordination with the cat1, cat2, cat3 group variables. You must enable an entire group
# in order for the variables below to take effect.
# CAT 1 rules
{% for rule  in high_rules %}
{{ rule['STIG ID'] | lower |  regex_replace('-', '_')}}: true
{% endfor %}


# CAT 2 Rules
{% for rule  in medium_rules %}
{{ rule['STIG ID'] | lower |  regex_replace('-', '_')}}: true
{% endfor %}

# CAT 3 Rules
{% for rule  in low_rules %}
{{ rule['STIG ID'] | lower |  regex_replace('-', '_')}}: true
{% endfor %}
